<!DOCTYPE html>
<html>
  <head>
    <title> Balaji The King</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner {
        height:500px;
        width:100%;
        object-fit:cover;
      }
    </style>
    
   
  </head>
  <body>  
    {% include 'nav.html' %}
    <div class="container" >
      
     <h1 class="text-center mt-2 mb-4">Balaji The King</h1>
    <img class="img-fluid" id="banner" src="https://balajitheking.digvijayrajput.repl.co/static/cric.jpg"  >
    <h2 class="text-center mt-2 mb-4"> About Balaji</h2>
    <p class="lead">
      Balaji is well known name in the field of cricket.We at balaji have the team of professional cricket enthusiast who devoted all his life for cricket.Balaji is the only organisation in the world with a accuracy of 95%.Come and join Us, Be a part of revolution to conquer the world.
    </p>
    <h3 class="text-center">Todays Matches</h3>
      <h5> Regular work will be start from 1 july as Balaji is busy in meeting with ICC officials in Dubai</h5>
      <div>
              {% for result in result %}
      {% include 'resultitem.html' %}

      {% endfor %}
      </div>
      <div class="text-center">
        <p class="mt-4">Copyright 2022</p>
        <div>
          <h4 class="lead">
            Site Owner: Faisal Khan,Digvijay Rajput,Sanchit Sharma Aka Suchha Don
          </h4>
      </div>
        <div class="text-center" >
    <a   class="btn btn-primary btn-lg">
      Contact Us
    </a>
    
      
    {% include 'footer.html' %}
  </body>
</html>